* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(103, 167, 103);
  text-align: center;
  
}

h1 {
  font-size: 100px;
  color: green;
  text-shadow: 3px 3px 6px black;
}

img {
height: 500px;
border-radius: 50%;

}

ul {
  display: flex;
  justify-content: center;
}

li {
  padding-right: 20px;
  
}
p {
  font-size: 30px;
  width: 50%;
  margin: auto;
}