* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  
}

h1 {
  font-size: px;
  color: green;
  text-shadow: 2px 2px 5px black;
}
ul {
  display: flex;
  justify-content: center;
}

li {
  padding-right: 20px;
  
}
p {
  width: 50%;
  margin: auto;
}